* {
    background: rgba(fff, fff, fff, .1);
    box-sizing: border-box;
    transition: background .2s;
    outline: 0;
}
html {
    width: 100%;
    height: 100%;
}

body {
    background: #00334b;
    color: #fff;
    /* height: 100%; */
    width: 100%;
}

.container {
   max-width: 700px;
   margin: 0 auto; 
   position: relative;
   padding: 0 10px;
   width: 100%;
   height: 100%;
}

h1 {
    text-align: center;
}

.task-list {
    margin: 5px 0;
}

.description textarea{
    margin-top: 0;
    padding-top: 0;
    height: 90px;
}
input, 
.task-item,
.task-detail-mask,
textarea,
button {
    border-radius: 3px;
    padding: 10px;
}

textarea,
button,
input[type=text], input[type=date] {
    border: 0;
}

textarea,
input[type=text], input[type=date] {
    width: 100%;
}

input[type=text], input[type=date] {
    border: 0;
    display: inline-block;
    width: 80%;
    background: #ddd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus{
    background: #fff;
    box-shadow: inset 1px 1px rgba(0,0,0,0.2);
}

button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
    width: 15%;
    color: #333;
}

/* .add-task input[type=text] {
    float: left;
    width: 84%;
    margin-right: 1%;
}    
*/

button.primary,
.add-task button[type=submit]:hover {
    background: #5fb9e4;
}
.add-task button[type=submit] {
    width: 15%;

}

.task-item {
    padding: 10px;
    background: #FFF;
    color: #333;
    margin-bottom: 2px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.task-item:hover {
    background: #ddd;
}

.task-detail-mask,
.task-detail {
    position: absolute;
    display: none;
}
.content-input {
    display: none;
}
.remind input {
    width: 200px;
}
.remind button {
    width: 100px;
}
.task-detail {
    background: #fff;
    color: #333;
    width: 30;
    padding: 10px 10px 0 10px;
    top: 0;
    right: 50%;
    margin-right: -25%;
    border-radius: 10px;
}

.task-detail .content {
    padding: 0 10px;
    font-weight: 900;
    cursor: pointer;
}

.task-detail > * {
    margin-bottom: 10px;
}

.task-detail-mask {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(30,30,30,0.6);
    width: 100%;
    height: 100%;
}
.task-content {
    margin-left: 10px;
}
.fr {
    float: right;
}
.anchor {
    color: #888;
    margin-left: 10px;
}
.anchor:hover {
    color: #111;
}


div.gray {
    opacity: 0.5;
}
.task-item.gray::after {
    content: '';
    height: 1px;
    background: #aaa;
    width: 100%;
    position: relative;
    top: -9px;
    display: block;
}
.msg {
    padding: 10px 100px;
    background-color: #E4E40F;
    color: #fff;
    text-align: center;
    display: none;
}
